.css_categoria_id_label {text-align:right;}
.css_categoria_id_grid_line {vertical-align: top;}
.css_noticia_titulo_label {text-align:left;}
.css_noticia_titulo_grid_line {font-size:14px;font-weight:bold;vertical-align: top;}
.css_noticia_img_label {text-align:left;}
.css_noticia_img_grid_line {vertical-align: top;}
.css_noticia_data_pub_label {text-align:left;}
.css_noticia_data_pub_grid_line {vertical-align: top;}
.css_reporter_id_label {text-align:left;}
.css_reporter_id_grid_line {vertical-align: top;}
.css_noticia_corpo_label {text-align:left;}
.css_noticia_corpo_grid_line {vertical-align: top;}
.css_campo1_label {text-align:left;}
.css_campo1_grid_line {vertical-align: top;}
