.css_categoria_id_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_categoria_id_grid_line {vertical-align: top;text-align: right;}
.css_noticia_data_noticia_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_noticia_data_noticia_grid_line {vertical-align: top;text-align: right;}
.css_noticia_hora_noticia_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_noticia_hora_noticia_grid_line {vertical-align: top;text-align: right;}
.css_noticia_titulo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_noticia_titulo_grid_line {vertical-align: top;text-align: right;}
