.css_news_noticias_noticia_data_noticia_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_news_noticias_noticia_data_noticia_grid_line {vertical-align: top;text-align: left;}
.css_news_noticias_noticia_hora_noticia_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_news_noticias_noticia_hora_noticia_grid_line {vertical-align: top;text-align: left;}
.css_news_noticias_noticia_titulo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_news_noticias_noticia_titulo_grid_line {vertical-align: top;text-align: left;}
