.css_categoria_nome_grid_line {font-size:12px;font-weight:bold;vertical-align: top;text-align: right;}
.css_categoris_descricao_grid_line {font-size:12px;font-style:italic;vertical-align: top;text-align: right;}
