.css_news_categorias_categoria_nome_grid_line {color:#527FA1;font-size:18px;font-weight:bold;vertical-align: top;text-align: left;}
.css_news_noticias_noticia_titulo_grid_line {color:#97BABB;font-size:14px;vertical-align: top;text-align: left;}
.css_news_noticias_noticia_corpo_grid_line {font-size:12px;vertical-align: top;text-align: left;}
